body {
    background-color: blue;
}
#gameArea {
    width: 440px;
    height: 440px;
    border: 1px solid white;
    background-color: black;
    position: relative;
}
#player {
    background-color: brown;
    width:20px;
    height:20px;
    position:absolute
}