/* This changes how the background color looks */
.background {
    background-color: #607DFF;
    font-family: 'Quicksand', sans-serif;
}

/* game and title change the positioning of where all the elements are */
#game {
    width: 50%;
    /* Set a width to the centered element */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    width: 50%;
    /* Set a width to the centered element */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* This hides certain elements until they are called into the code */
.hidden {
    display: none
}

/* These are also for positioning */
#startUp {
    width: 50%;
    /* Set a width to the centered element */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#gameOverScreen {
    width: 50%;
    /* Set a width to the centered element */
    margin-left: auto;
    margin-right: auto;
    text-align: center;


}