body {
  font-family: 'Arial', sans-serif;
  background-color: #6e6d6d59;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#taskContainer {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

h2 {
  color: #3498db;
}

#taskInputContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #3498db;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.task {
  display: flex;
  flex-direction: row; /* Maintain row layout */
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.task input[type="text"],
.task select {
  margin-right: 3px; /* Add some right margin for spacing between input and dropdown */
}



.task input[type="text"] {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  background-color: transparent;
}

.task button {
  padding: 8px 12px;
  font-size: 14px;
  margin-left: 4px;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #e74c3c;
  transition: background-color 0.3s, transform 0.2s;
  
}

.task button:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

/* Updated CSS for Dropdown Styling */

#prioritySelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #3498db;
  /* Match the button color */
  border-radius: 4px;
  background-color: #fff;
  color: #555;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
  font-size: 10.2px;
  margin-left: 5px;
  /* Adjust the font size as needed */
}

#prioritySelect:focus {
  outline: none;
  border-color: #007bff;
  background-color: #f2faff;
  /* Highlight background on focus */
}

#prioritySelect::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #3498db;
  /* Match the button color */
  pointer-events: none;
}

/* Updated Custom arrow icon */
#prioritySelect:hover+ ::after,
#prioritySelect:focus+ ::after {
  color: #007bff;
  /* Change arrow color on hover/focus */
}

/* Updated Custom arrow icon animation */
#prioritySelect::after {
  transition: color 0.3s;
}