body {
    background-color: rgb(140, 192, 240)
}

#all-contents {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 300px;
    margin: auto;
    border: 3px solid;
}

.all-contents {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 300px;
    margin: auto;
    border: 3px solid;
}

#difficulty {
    max-width: 300px;
    margin: auto;
}

.hidden {
    display: none;
}

#winner-screen {
    margin-left: 500px;
}

#loser-screen {
    margin-left: 560px;
}
#medium-body {
    background-color: blueviolet;
}