#homeBody {
    background-image: url(numberGuesserImages/numbers2.gif);
}

#all-contents {
    background-color:darkred;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 300px;
    margin: auto;
    border: 3px solid;
}

.all-contents {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 300px;
    margin: auto;
    border: 3px solid;
}

#difficulty {
    max-width: 300px;
    margin: auto;
    background-color:darkred;
}

.hidden {
    display: none;
}

#winner-screen {
    margin-left: 500px;
}

#loser-screen {
    margin-left: 560px;
}
#easyBody {
    background-color: rgb(140, 192, 240)
}
#medium-body {
    background-color: blueviolet;
}
#hard-body {
    background-color: seagreen;
}
#expert-body {
    background-color: sienna;
}